.header-container {
  --grid-cols: 2;
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: var(--column-gap);
  align-items: center;
  padding-bottom: 10rem;
}

.header-item {
  display: flex;
  justify-content: space-between;
  padding: 40 0;
}

.header-img {
  position: relative;
}

.header-img-banner {
  max-width: 548px;
  width: 100%;
  height: 719px;
}

.img-header {
  width: 100%;
  height: 100%;
}

.header-heart {
  display: flex;
  gap: 1.125rem;
  justify-content: center;
  align-items: center;
  width: 220px;
  padding: 10 0;
  color: #000;
  background-color: var(--body-color);
  border: var(--border);
  border-radius: var(--rounded-lg);
}

.header-heart {
  position: absolute;
  top: 190;
  right: 0;
}

@media (max-width: 1024px) {
  .header-container {
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .header-img-banner {
    max-width: 300px;
    width: 100%;
    height: 500px;
  }
}
